* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jomolhari', serif;
    background-color: #E1E5F2;
}
/*
.header { grid-area: header; }
.principal { grid-area: main; }
.menu { grid-area: menu; }
.contactos { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main menu'
    'main main main main main menu'
    'main main main main main menu'
    'main main main main main menu'
    'main main main main main menu'
    'footer footer footer footer footer footer';
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 10px;
    padding: 0px;
}*/

 header nav{
    text-align: right;
    padding: 0px; 
    background-color: transparent;
    
    
}
header nav a{
    margin-right: 10px;
    font-size: 24px;
    color: #E1E5F2;
}

header {
    background-image: url("https://images.pexels.com/photos/391831/pexels-photo-391831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center center;
	background-size: cover;
    padding: 50px;
    margin: 0;
    width: 100%;
    /*border bottom: 2px solid #022B3A;*/
    position: -webkit-sticky;
    opacity: 0.9;
}

.titulo {
    text-align: center;
    color: #2A9D8F;
    background-color: transparent;
    width: 20%;
    font-family: 'Truculenta', sans-serif;
    font-size: 4em;
    padding: 0;
    }

.subtitulo {
        text-align: center;
        color: #2A9D8F;
        background-color: transparent;
        width: 20%;
        font-family: 'Truculenta', sans-serif;
        font-size: 2em;
        margin-top: 0%;
        padding: 0;
        }

/*.contactos {
    text-align: right;
    color:black;
    font-size: medium;
    background-color: transparent;
}*/



.body {
    padding: 0px;
}

.principal {
    float: left;
    width: 60%;
    padding: 0 20px;
    margin: 20px;
}
.container-prono .container-cult{
    width: 100%;
    padding: 10px;
    }
/*le da estilos h2 de los div dentro del principal*/
 .principal h2{
    border-top: 2px solid #022B3A;
    margin-top: 5px;
    background-color: #BFDBF7;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
    padding-left: 5px;
    display: block;
    font-weight: bold;

}

#container-prono img {
    border: 30px;
}
/*#container-cult{
    width: 120%;
    padding: 10px;
    }*/

/*.cultivos {
    border-top: 2px solid #022B3A;
    margin-top: 5px;
    background-color: #BFDBF7;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
    padding-left: 5px;
    display: block;
    font-weight: bold;
}

#cult {
    font-size: 0.9rem;
    list-style-type: none;
}*/

.info {
    text-align: right;
}
.menu{
    padding: 0 20px;
    margin: 20px;
    float: right;
    width: 30%;
    text-align: center;
}

.menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0px;
        margin-left: 10px;
        margin-top: 5px;
        display: block;
        }

.menu li {
        text-align: center;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 7px;
        margin: 5px;
        border-top: 2px solid #1F7A8C;
        /*background-color: #1F7A8C;*/
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu a:link {
    text-decoration: none;
    background-color: transparent;
    color: #661ee3;
}

a:link {
    text-decoration: none;
    background-color: transparent;
    color: #ECF39E;
}

a:visited {
    text-decoration: none;
    color: #0c0c0a;
}

/*.menu a:visited {
    text-decoration: none;
}*/

a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

.contactos{
    text-align: center;
    padding:10px;
    margin-right:7px;
    padding-top: 15px;
    display: block;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .header { grid-area: 1 / 1 / 1 / 7; }
    .principal { grid-area: 5 / 1 / 5 / 7; }
    .menu { grid-area: 2 / 1 / 4 / 7; }
    .contactos { grid-area: 6 / 1 / 6 / 7; }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .header { grid-area: 1 / 1 / 1 / 7; }
    .principal { grid-area: 2 / 1 / 6 / 3; }
    .menu { grid-area: 2 / 4 / 6 / 7; }
    .contactos { grid-area: 7 / 1 / 7 / 7; }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .header { grid-area: 1 / 1 / 1 / 7; }
    .principal { grid-area: 2 / 1 / 6 / 6; }
    .menu { grid-area: 2 / 6 / 6 / 7; }
    .contactos { grid-area: 6 / 1 / 7 / 7; }
}
