* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jomolhari', serif;
    /*background-color: #E1E5F2;*/
    background-color: #00A896;
}


header {
    background-image: url("https://images.pexels.com/photos/391831/pexels-photo-391831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center center;
    /* background-size: contain;*/
	background-size: cover;
    padding: 30px;
    margin: 0;
    width: 100vw;
    /*float: left;*/
    /*max-width: 100%;*/
    /*border bottom: 2px solid #022B3A;*/
    position: sticky;
    opacity: 0.9;
}

header nav{
    text-align: right;
    padding: 0px; 
    background-color: transparent;
}

header .titulo, .subtitulo {
    text-align: center;
   /*color: #2A9D8F;*/
    color: #00A896;
    background-color: transparent;
    width: 30%;
    height: auto;
    font-family: 'Truculenta', sans-serif;
    padding: 0;
}

header .titulo{
    font-size: 4rem;
}

header .subtitulo{
    font-size: 2rem;
}

header nav a{
    margin-right: 10px;
    font-size: 1rem;
    color: #F0F3BD;
    background-color: transparent;
    text-decoration: none;
 }
 /*estilos a  ver ahi*/
/*nav a:visited {
    color: #0c0c0a;
}*/

nav a:hover {
    color: rgb(3, 143, 112);
}

 /*ver si queda*/
 .body {
    padding: 0px;
    margin: 0;
}
.container-main{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
/*estilos main*/
 .contenido-principal{
    float: left;
    width: 60%;
    padding: 0 20px;
    margin: 20px;
}
 .contenido-principal article{
    width: 100%;
    padding: 10px;
}
.contenido-principal article h2{
    border-top: 2px solid #022B3A;
    margin-top: 5px;
    background-color: #BFDBF7;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 20px;
    padding-left: 5px;
    display: block;
    font-weight: bold;
}
/*ver como acomodar contenedor de las imagenes*/
.contenido-principal .container-prono .imagen{
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;

}
.contenido-principal .container-prono .img{
    border: 30px;
    margin-right: 10px;
}
.contenido-principal .container-cult h3{
    font-size: 18px;
}
.contenido-principal article p{
    text-align: justify;
    font-size: 14px;
}
.contenido-principal .info {
    text-align: right;
}
.contenido-principal .info p{
    font-size: 14px;
}
/*estilos aside: menu*/
.menu{
    padding: 0;
    margin-top: 30px;
    float:right;
    width: 30%;
    text-align: center;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    margin-left: 10px;
    margin-top: 5px;
    display: block;
    }

.menu li {
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 7px;
    margin: 5px;
    border-top: 2px solid #1F7A8C;
    /*background-color: #1F7A8C;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu ul li a{
    font-size: 18px;
    color: #111111;
}

.menu a:link {
    text-decoration: none;
    background-color: transparent;
}

.menu a:link:hover {
    text-decoration: underline;
}
.menu a:link:visited {
    text-decoration: none;
}


footer .contactos{
    text-align: center;
    padding:10px;
    margin-right:7px;
    padding-top: 15px;
    display: block;
    width: 100%;
    border-top: 1px solid #111111;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}